:host {
    display: flex;
    flex-direction: column;

    .header,
    .footer {
        display: flex;
        align-items: center;
        padding: 20px;
        border-width: 0;
        border-style: solid;
        border-color: #e0e0e0;
    }

    .header {
        justify-content: space-between;
        border-bottom-width: 1px;

        .title {
            font-size: 22px;
            font-weight: bold;
            margin: 0;
            color: white;
        }
    }

    .body {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;

        .message {
            color: white;
            white-space: pre-wrap;
        }
    }

    .footer {
        justify-content: flex-end;
        border-top-width: 1px;

        .button:not(:last-child) {
            margin-right: 10px;
        }
    }
}
