:host {
    min-width: min-content;
    overflow: hidden;

    .split-area {
        overflow: auto;

        .wrapper {
            padding: 20px;
        }
    }

    .field {
        white-space: nowrap;
        margin: 0;

        .name {
            font-weight: bold;
        }
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
            font: var(--mat-sys-title-large);
            margin: 0;
        }

        .body {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 10px;

            .equation {
                font: var(--mat-sys-title-large);
            }
        }
    }

    .table-group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
            font: var(--mat-sys-title-large);
            margin: 0;
        }
    }
}
