@let displayData = this.displayData();
@let interventionsRowScheme = this.interventionsRowScheme();
@let boundariesRowScheme = this.boundariesRowScheme();
@let splitSizes = this.splitSizes();

<as-split
    direction="vertical"
    useTransition
    gutterSize="7"
    gutterDblClickDuration="400"
    (gutterDblClick)="onGutterDBClick()"
>
    <as-split-area class="split-area" [size]="splitSizes.results">
        <div class="wrapper">
            <div class="group">
                <div class="title">Result</div>

                <div class="body">
                    <p class="field">
                        <span class="name">No Control Objective Value:</span>
                        {{
                            displayData.result.noControlObjective
                                ? (displayData.result.noControlObjective
                                  | number)
                                : "N/A"
                        }}
                    </p>

                    <p class="field">
                        <span class="name">Optimal Objective Value:</span>
                        {{
                            displayData.result.optimalObjective
                                ? (displayData.result.optimalObjective | number)
                                : "N/A"
                        }}
                    </p>

                    <div class="table-group">
                        <div class="title">Interventions</div>

                        <app-datatable
                            [enumerate]="true"
                            [disabled]="true"
                            [compact]="true"
                            [rowScheme]="interventionsRowScheme"
                            [data]="displayData.result.interventions"
                        />
                    </div>
                </div>
            </div>
        </div>
    </as-split-area>

    <as-split-area class="split-area" [size]="splitSizes.parameters">
        <div class="wrapper">
            <div class="group">
                <div class="title">Parameters</div>

                <div class="body">
                    <p class="field">
                        <span class="name">Time:</span>
                        {{ displayData.parameters.time ?? "N/A" }}
                    </p>

                    <p class="field">
                        <span class="name">Nodes Amount:</span>
                        {{ displayData.parameters.nodesAmount ?? "N/A" }}
                    </p>

                    <p class="field">
                        <span class="name">Objective Function:</span>
                        {{ displayData.parameters.objectiveFunction ?? "N/A" }}
                    </p>

                    <div class="group">
                        <p class="title">Intervention(s)</p>

                        <div class="body">
                            <p class="field">
                                <span class="name">Nodes Amount:</span>
                                {{
                                    displayData.parameters.intervention
                                        .nodesAmount ?? "N/A"
                                }}
                            </p>

                            <p class="field">
                                <span class="name">Approximation Type:</span>
                                {{
                                    displayData.parameters.intervention
                                        .approximationType ?? "N/A"
                                }}
                            </p>

                            <div class="table-group">
                                <div class="title">
                                    Interventions boundaries
                                </div>

                                <app-datatable
                                    [enumerate]="true"
                                    [disabled]="true"
                                    [compact]="true"
                                    [rowScheme]="boundariesRowScheme"
                                    [data]="
                                        displayData.parameters.intervention
                                            .boundaries
                                    "
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </as-split-area>

    <as-split-area class="split-area" [size]="splitSizes.parameters">
        <app-model-info [model]="displayData.model" />
    </as-split-area>
</as-split>
