:host {
    min-width: min-content;
    overflow: hidden;

    .split-area {
        overflow: auto;

        .wrapper {
            padding: 20px;
        }
    }

    .field {
        white-space: nowrap;
        margin: 0;
        color: white;

        .name {
            font-weight: bold;
        }
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            color: white;
        }

        .body {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
        }
    }

    .table-group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            color: white;
        }
    }
}
