@let boundariesRowScheme = this.boundariesRowScheme();

<ng-container [formGroup]="control">
    <div class="row">
        <mat-form-field class="input" subscriptSizing="dynamic">
            <mat-label>Time</mat-label>

            <input
                matInput
                placeholder="Enter value"
                type="number"
                formControlName="time"
            />
        </mat-form-field>

        <mat-form-field class="input" subscriptSizing="dynamic">
            <mat-label>Nodes Amount</mat-label>

            <input
                matInput
                placeholder="Enter value"
                type="number"
                formControlName="nodesAmount"
            />
        </mat-form-field>
    </div>

    <div class="row" formGroupName="intervention">
        <mat-form-field
            class="input"
            floatLabel="always"
            subscriptSizing="dynamic"
        >
            <mat-label>Intervention Nodes Amount</mat-label>

            <input
                matInput
                placeholder="Enter value"
                type="number"
                formControlName="nodesAmount"
            />
        </mat-form-field>

        <mat-form-field
            class="input"
            floatLabel="always"
            subscriptSizing="dynamic"
        >
            <mat-label>Approximation Type</mat-label>

            <mat-select formControlName="approximationType">
                @for (
                    approximationType of approximationTypes;
                    track approximationType.value
                ) {
                    <mat-option [value]="approximationType.value">
                        {{ approximationType.text }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div class="datatable-input" formGroupName="intervention">
        <div class="header">
            <div class="title">Interventions boundaries</div>
        </div>

        <app-datatable
            formControlName="boundaries"
            [rowScheme]="boundariesRowScheme"
            [showEmptyColumns]="true"
        />
    </div>

    <app-equation-input
        class="objective-function-input"
        placeholder="Enter value"
        formControlName="objectiveFunction"
        [title]="'Objective Function'"
    />
</ng-container>
