:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .row {
        display: flex;
        gap: 20px;

        .input {
            flex: 1;
        }
    }

    .datatable-input {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        min-height: 185px;
        overflow: hidden;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 0 0;

            .title {
                font: var(--mat-sys-title-medium);
            }
        }
    }

    .objective-function-input {
        overflow: auto;
    }
}
