@let rowScheme = this.rowScheme();
@let rows = this.rows();
@let columns = this.columns();
@let ids = this.ids();
@let editable = this.editable();
@let maxRows = this.maxRows();
@let editing = this.editing();
@let adding = this.adding();

<table class="table" mat-table [dataSource]="rows">
    @for (id of ids; track id) {
        <ng-container [matColumnDef]="id">
            <th mat-header-cell class="data-column" *matHeaderCellDef>
                {{ rowScheme[id]!.name }}
            </th>

            <td mat-cell class="data-column" *matCellDef="let row">
                @if ((rowScheme[id]!.editable || adding) && row.editing) {
                    <mat-form-field
                        subscriptSizing="dynamic"
                        [formGroup]="control"
                    >
                        <mat-label>Value</mat-label>

                        @switch (rowScheme[id]!.type) {
                            @case ("select") {
                                <mat-select [formControlName]="id">
                                    @for (
                                        option of getAvailableOptions(id);
                                        track option.value
                                    ) {
                                        <mat-option [value]="option.value">
                                            {{ option.label }}
                                        </mat-option>
                                    }
                                </mat-select>
                            }
                            @default {
                                <input
                                    matInput
                                    [formControlName]="id"
                                    [type]="rowScheme[id]!.type"
                                />
                            }
                        }
                        @if (getErrors(id); as errors) {
                            <mat-error>
                                {{ errors[0] | titlecase }}
                            </mat-error>
                        }
                    </mat-form-field>
                } @else {
                    @switch (rowScheme[id]!.type) {
                        @case ("number") {
                            {{ (row.data[id] | number: "1.0-10") ?? "N/A" }}
                        }
                        @case ("select") {
                            {{
                                row.data[id]
                                    ? getOptionLabel(id, row.data[id])
                                    : "N/A"
                            }}
                        }
                        @case ("text") {
                            {{ row.data[id] ?? "N/A" }}
                        }
                        @default {
                            Unknown type: {{ rowScheme[id]!.type }}
                        }
                    }
                }
            </td>
        </ng-container>
    }

    <ng-container matColumnDef="index" [sticky]="true">
        <th mat-header-cell class="index-column" *matHeaderCellDef>#</th>

        <td mat-cell class="index-column" *matCellDef="let row; index as index">
            {{ index }}
        </td>
    </ng-container>

    <ng-container matColumnDef="placeholder">
        <th mat-header-cell class="placeholder-column" *matHeaderCellDef></th>

        <td mat-cell class="placeholder-column" *matCellDef="let row"></td>
    </ng-container>

    <ng-container matColumnDef="actions" [stickyEnd]="true">
        <th mat-header-cell class="actions-column" *matHeaderCellDef>
            <button
                mat-mini-fab
                class="button"
                [style.display]="rows.length < maxRows ? '' : 'none'"
                [disabled]="editing"
                (click)="onRowAdd()"
            >
                <mat-icon>add</mat-icon>
            </button>
        </th>

        <td
            mat-cell
            class="actions-column"
            *matCellDef="let row; index as index"
        >
            <div class="buttons-container">
                @if (row.editing) {
                    <button
                        mat-icon-button
                        [disabled]="control.invalid || control.pristine"
                        (click)="onSave()"
                    >
                        <mat-icon>save</mat-icon>
                    </button>

                    <button mat-icon-button (click)="onCancel()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                } @else {
                    @if (editable) {
                        <button
                            mat-icon-button
                            [disabled]="editing"
                            (click)="onEdit(index)"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    }

                    <button
                        mat-icon-button
                        [disabled]="editing"
                        (click)="onDelete(index)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                }
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr
        mat-row
        class="data-row"
        [class.is-editing]="row.editing"
        *matRowDef="let row; columns: columns"
    ></tr>

    <tr *matNoDataRow>
        <td class="no-data-cell" [attr.colspan]="columns.length">No data</td>
    </tr>
</table>
