<div class="header">
    <p class="title">Model Processing</p>

    <button
        mat-mini-fab
        class="close-button"
        color="primary"
        (click)="closeDialog()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-tab-group
    dynamicHeight
    class="body"
    mat-align-tabs="center"
    [formGroup]="formGroup"
    [(selectedIndex)]="selectedProcessingType"
>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">show_chart</mat-icon>

            Simulation
        </ng-template>

        <app-simulation-parameters-input-panel
            formControlName="simulationParameters"
        ></app-simulation-parameters-input-panel>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">trending_down</mat-icon>

            Optimal Control
        </ng-template>

        <app-optimal-control-parameters-input-panel
            formControlName="optimalControlParameters"
        ></app-optimal-control-parameters-input-panel>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">troubleshoot</mat-icon>

            Parameters Identification
        </ng-template>

        <app-parameters-identification-parameters-input-panel
            formControlName="parametersIdentificationParameters"
        >
        </app-parameters-identification-parameters-input-panel>
    </mat-tab>
</mat-tab-group>

<div class="footer">
    <button
        mat-raised-button
        class="button"
        color="accent"
        (click)="closeDialog()"
    >
        Cancel
    </button>

    <button
        mat-raised-button
        class="button"
        color="primary"
        [disabled]="!isValid"
        (click)="process()"
    >
        Process
    </button>
</div>
