<div class="header">
    <p class="title">Model Processing</p>

    <button
        mat-mini-fab
        class="close-button"
        color="primary"
        (click)="closeDialog()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="body" [formGroup]="formGroup">
    <div class="common-config" formGroupName="parameters">
        <mat-form-field>
            <mat-label>Time</mat-label>

            <input
                matInput
                placeholder="Enter value"
                type="number"
                formControlName="time"
            />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nodes Amount</mat-label>

            <input
                matInput
                type="number"
                placeholder="Enter value"
                type="number"
                formControlName="nodesAmount"
            />
        </mat-form-field>
    </div>

    <mat-slide-toggle formControlName="isOptimalControlProblem">
        Optimal control problem
    </mat-slide-toggle>

    <ng-container formGroupName="parameters">
        <div class="optimization-config">
            <mat-form-field floatLabel="always">
                <mat-label>Intervention Nodes Amount</mat-label>

                <input
                    matInput
                    placeholder="Enter value"
                    type="number"
                    formControlName="interventionNodesAmount"
                />
            </mat-form-field>
        </div>

        <app-equation-input
            formControlName="costFunction"
            class="cost-function-input"
            placeholder="Enter value"
            [noPadding]="true"
            [title]="'Cost Function'"
            (errorsChange)="onErrorsChange($event)"
        ></app-equation-input>
    </ng-container>
</div>

<div class="footer">
    <button
        mat-raised-button
        class="button"
        color="accent"
        (click)="closeDialog()"
    >
        Cancel
    </button>

    <button
        mat-raised-button
        class="button"
        color="primary"
        [disabled]="formGroup.errors"
        (click)="process()"
    >
        Simulate
    </button>
</div>
