<div class="header">
    <p class="title">Model Processing</p>

    <button
        mat-mini-fab
        class="close-button"
        color="primary"
        (click)="closeDialog()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="body" [formGroup]="formGroup">
    <div class="config-row" formGroupName="parameters">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Time</mat-label>

            <input
                matInput
                placeholder="Enter value"
                type="number"
                formControlName="time"
            />
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Nodes Amount</mat-label>

            <input
                matInput
                type="number"
                placeholder="Enter value"
                type="number"
                formControlName="nodesAmount"
            />
        </mat-form-field>
    </div>

    <mat-slide-toggle formControlName="isOptimalControlProblem">
        Optimal control problem
    </mat-slide-toggle>

    <ng-container formGroupName="parameters">
        <div class="config-row">
            <mat-form-field floatLabel="always" subscriptSizing="dynamic">
                <mat-label>Intervention Nodes Amount</mat-label>

                <input
                    matInput
                    placeholder="Enter value"
                    type="number"
                    formControlName="interventionNodesAmount"
                />
            </mat-form-field>

            <mat-form-field floatLabel="always" subscriptSizing="dynamic">
                <mat-label>Approximation Type</mat-label>

                <mat-select formControlName="interventionApproximationType">
                    <mat-option
                        *ngFor="let approximationType of approximationTypes"
                        [value]="approximationType.value"
                    >
                        {{ approximationType.text }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="config-row">
            <mat-form-field floatLabel="always" subscriptSizing="dynamic">
                <mat-label>Intervention Lower Boundary</mat-label>

                <input
                    matInput
                    placeholder="Enter value"
                    type="number"
                    formControlName="interventionLowerBoundary"
                />
            </mat-form-field>

            <mat-form-field floatLabel="always" subscriptSizing="dynamic">
                <mat-label>Intervention Upper Boundary</mat-label>

                <input
                    matInput
                    placeholder="Enter value"
                    type="number"
                    formControlName="interventionUpperBoundary"
                />
            </mat-form-field>
        </div>

        <app-equation-input
            formControlName="costFunction"
            class="cost-function-input"
            placeholder="Enter value"
            [noPadding]="true"
            [title]="'Cost Function'"
            (errorsChange)="onErrorsChange($event)"
        ></app-equation-input>
    </ng-container>
</div>

<div class="footer">
    <button
        mat-raised-button
        class="button"
        color="accent"
        (click)="closeDialog()"
    >
        Cancel
    </button>

    <button
        mat-raised-button
        class="button"
        color="primary"
        [disabled]="formGroup.errors"
        (click)="process()"
    >
        Process
    </button>
</div>
