<mat-form-field class="input">
    <mat-label>{{ title }}</mat-label>

    <textarea
        #equationInput
        #autosize="cdkTextareaAutosize"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        matInput
        [placeholder]="placeholder"
        [formControl]="equationFormControl"
    ></textarea>

    <mat-error
        *ngIf="
            equationFormControl.errors && equationFormControl.errors['equation']
        "
    >
        <ng-container
            *ngFor="
                let error of equationFormControl.errors!['equation'] | keyvalue
            "
        >
            <p *ngIf="error.key !== 'required'" class="error-message">
                {{ error.value }}
            </p>
        </ng-container>
    </mat-error>
</mat-form-field>

<div *ngIf="definitionsTable" class="keyboards">
    <div class="compartments">
        <div class="title">Compartments</div>

        <mat-chip-listbox
            *ngIf="definitionsTable.compartments.length; else noContent"
        >
            <mat-chip
                *ngFor="let compartment of definitionsTable.compartments"
                [disabled]="equationFormControl.disabled"
                (click)="onChipInput(compartment.name)"
            >
                {{ compartment.name }}
            </mat-chip>
        </mat-chip-listbox>
    </div>

    <div class="constants">
        <div class="title">Constants</div>

        <mat-chip-listbox
            *ngIf="definitionsTable.constants.length; else noContent"
        >
            <mat-chip
                *ngFor="let constant of definitionsTable.constants"
                [disabled]="equationFormControl.disabled"
                (click)="onChipInput(constant.name)"
            >
                {{ constant.name }}
            </mat-chip>
        </mat-chip-listbox>
    </div>

    <div class="interventions">
        <div class="title">Interventions</div>

        <mat-chip-listbox
            *ngIf="definitionsTable.interventions.length; else noContent"
        >
            <mat-chip
                *ngFor="let intervention of definitionsTable.interventions"
                [disabled]="equationFormControl.disabled"
                (click)="onChipInput(intervention.name)"
            >
                {{ intervention.name }}
            </mat-chip>
        </mat-chip-listbox>
    </div>

    <ng-template #noContent>
        <p class="no-content-message">&lt; Nothing to show here yet &gt;</p>
    </ng-template>
</div>
