@let displayData = this.displayData();
@let identifiedConstantsRowScheme = this.identifiedConstantsRowScheme();
@let selectedConstantsRowScheme = this.selectedConstantsRowScheme();
@let dataRowScheme = this.dataRowScheme();

<as-split
    direction="vertical"
    [gutterSize]="7"
    [gutterDblClickDuration]="400"
    [restrictMove]="true"
>
    <as-split-area class="split-area" [size]="50">
        <div class="wrapper">
            <div class="group">
                <div class="title">Result</div>

                <div class="body">
                    <div class="table-group">
                        <div class="title">Identified Constants</div>

                        <app-datatable
                            [enumerate]="true"
                            [disabled]="true"
                            [compact]="true"
                            [rowScheme]="identifiedConstantsRowScheme"
                            [data]="displayData.result.constants"
                        />
                    </div>
                </div>
            </div>
        </div>
    </as-split-area>

    <as-split-area class="split-area" [size]="50">
        <div class="wrapper">
            <div class="group">
                <div class="title">Parameters</div>

                <div class="body">
                    <p class="field">
                        <span class="name">Nodes Amount:</span>
                        {{ displayData.parameters.nodesAmount ?? "N/A" }}
                    </p>

                    <div class="table-group">
                        <div class="title">Selected Parameters</div>

                        <app-datatable
                            [enumerate]="true"
                            [disabled]="true"
                            [compact]="true"
                            [rowScheme]="selectedConstantsRowScheme"
                            [data]="displayData.parameters.selectedConstants"
                        />
                    </div>

                    <div class="table-group">
                        <div class="title">Solution Data</div>

                        <app-datatable
                            [enumerate]="true"
                            [disabled]="true"
                            [compact]="true"
                            [rowScheme]="dataRowScheme"
                            [data]="displayData.parameters.data"
                        />
                    </div>
                </div>
            </div>
        </div>
    </as-split-area>
</as-split>
