@let noRuns = this.noRuns();
@let names = this.names();
@let name = this.name();
@let data = this.data();
@let plots = this.plots();
@let plotsConfig = this.plotsConfig();
@let plotStyle = this.plotStyle();

<div class="header">
    <p class="title">Dashboard</p>

    <div class="header-controls">
        <mat-form-field subscriptSizing="dynamic">
            <mat-select
                [disabled]="noRuns"
                [value]="name"
                (selectionChange)="set($event)"
            >
                @for (run of names; track run) {
                    <mat-option [value]="run">
                        {{ run }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <button
            mat-mini-fab
            class="button"
            color="primary"
            matTooltip="Import run"
            (click)="add()"
        >
            <mat-icon>upload</mat-icon>
        </button>

        <button
            mat-mini-fab
            class="button"
            color="primary"
            matTooltip="Export current run"
            [disabled]="noRuns"
            (click)="get()"
        >
            <mat-icon>download</mat-icon>
        </button>

        <button
            mat-mini-fab
            color="primary"
            matTooltip="Rename current run"
            (click)="edit()"
        >
            <mat-icon>edit</mat-icon>
        </button>

        <button
            mat-mini-fab
            class="button"
            color="primary"
            matTooltip="Remove current run"
            [disabled]="noRuns"
            (click)="remove()"
        >
            <mat-icon>delete</mat-icon>
        </button>

        <button mat-mini-fab color="primary" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<as-split class="content" gutterSize="7" gutterDblClickDuration="400">
    <as-split-area class="split-area" size="70">
        <div class="plots" [class.no-data]="!plots.length">
            @for (plot of plots; track plot) {
                <plotly-plot
                    [data]="plot.data"
                    [layout]="plot.layout"
                    [config]="plotsConfig"
                    [style]="plotStyle"
                    [useResizeHandler]="true"
                />
            } @empty {
                <p class="message">No Data</p>
            }
        </div>
    </as-split-area>

    <as-split-area class="split-area" size="30">
        @if (data) {
            @switch (data.type) {
                @case ("Simulation") {
                    <app-simulation-info-panel class="panel" [data]="data" />
                }
                @case ("OptimalControl") {
                    <app-optimal-control-info-panel
                        class="panel"
                        [data]="data"
                    />
                }
                @case ("PI") {
                    <app-parameters-identification-info-panel
                        class="panel"
                        [data]="data"
                    />
                }
            }
        } @else {
            <div class="no-data">
                <p class="message">No Data</p>
            </div>
        }
    </as-split-area>
</as-split>
