:host {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 95vh;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-width: 0;
        border-style: solid;
        border-color: #e0e0e0;
        border-bottom-width: 1px;

        .title {
            font-size: 22px;
            font-weight: bold;
            margin: 0;
            color: white;
        }

        .header-controls {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }

    .body {
        display: grid;
        grid: repeat(2, calc(50% - 5px)) / auto-flow min-content;
        gap: 10px;
        height: calc(100% - 90px);
        overflow: auto;
        padding: 20px;

        &.no-data {
            display: flex;
            justify-content: center;
            align-items: center;

            .message {
                font-size: 20px;
                color: white;
            }
        }
    }
}
