<div class="header">
    <p class="title">Compartment</p>

    <button
        mat-mini-fab
        class="close-button"
        color="primary"
        (click)="onClose()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="body" [formGroup]="control">
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Name</mat-label>

        <input matInput placeholder="Enter name" formControlName="name" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Initial Value</mat-label>

        <input
            matInput
            type="number"
            placeholder="Enter initial value"
            formControlName="value"
        />
    </mat-form-field>
</div>

<div class="footer">
    <button mat-raised-button class="button" color="accent" (click)="onClose()">
        Cancel
    </button>

    <button
        mat-raised-button
        class="button"
        color="primary"
        [disabled]="control.invalid || control.pristine"
        (click)="onAccept()"
    >
        {{ edit ? "Update" : "Add" }}
    </button>
</div>
