<div class="header">
    <p class="title">Settings</p>

    <button mat-mini-fab color="primary" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="body" [formGroup]="control">
    <div class="group">
        <p class="title">App</p>

        <div class="group-body" formGroupName="app">
            <p class="name">Theme</p>

            <mat-form-field subscriptSizing="dynamic">
                <mat-select formControlName="theme">
                    @for (theme of themes; track theme.value) {
                    <mat-option [value]="theme.value">
                        {{ theme.text }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <p class="description">
                <mat-icon>info</mat-icon>

                Sets the app theme: 'Light', 'Dark', or 'System'.
            </p>
        </div>

        <div class="group-body" formGroupName="app">
            <p class="name">Color Palette</p>

            <mat-form-field subscriptSizing="dynamic">
                <mat-select formControlName="palette">
                    @for (palette of palettes; track palette.value) {
                    <mat-option [value]="palette.value">
                        {{ palette.text }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <p class="description">
                <mat-icon>info</mat-icon>

                Sets the color palette for the app. (Note: Not all palettes have
                both light and dark variants.)
            </p>
        </div>
    </div>

    <div class="group">
        <p class="title">Dashboard</p>

        <div class="group-body" formGroupName="dashboard">
            <p class="name">Y Axis Range Mode</p>

            <mat-form-field subscriptSizing="dynamic">
                <mat-select formControlName="yAxisRangeMode">
                    @for (mode of yAxisRangeModes; track mode.value) {
                    <mat-option [value]="mode.value">
                        {{ mode.text }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <p class="description">
                <mat-icon>info</mat-icon>

                Sets plots y axis range mode: 'normal' uses data extrema,
                'tozero' extends to 0.
            </p>
        </div>
    </div>
</div>

<div class="footer">
    <button mat-raised-button class="button" color="accent" (click)="onClose()">
        Cancel
    </button>

    <button
        mat-raised-button
        class="button"
        color="primary"
        [disabled]="control.invalid || control.pristine"
        (click)="onSave()"
    >
        Save
    </button>
</div>
