@let compartments = this.compartments();
@let constants = this.constants();
@let interventions = this.interventions();
@let title = this.title();
@let placeholder = this.placeholder();

<mat-form-field class="input" subscriptSizing="dynamic">
    <mat-label>{{ title }}</mat-label>

    <textarea
        #input
        #autosize="cdkTextareaAutosize"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        matInput
        [placeholder]="placeholder"
        [formControl]="control"
    ></textarea>

    @if (control.errors) {
        <mat-error>
            @for (error of control.errors | keyvalue; track error.value) {
                @if (error.key !== "required") {
                    <p class="error-message">
                        {{ error.value }}
                    </p>
                }
            }
        </mat-error>
    }
</mat-form-field>

<div class="keyboards">
    <div>
        <div class="title">Compartments</div>

        @if (compartments?.length) {
            <mat-chip-listbox>
                @for (compartment of compartments; track compartment.id) {
                    <mat-chip
                        [disabled]="control.disabled"
                        (click)="onChipInput(compartment.name)"
                    >
                        {{ compartment.name }}
                    </mat-chip>
                }
            </mat-chip-listbox>
        } @else {
            <ng-container [ngTemplateOutlet]="noContent" />
        }
    </div>

    <div>
        <div class="title">Constants</div>

        @if (constants?.length) {
            <mat-chip-listbox>
                @for (constant of constants; track constant.id) {
                    <mat-chip
                        [disabled]="control.disabled"
                        (click)="onChipInput(constant.name)"
                    >
                        {{ constant.name }}
                    </mat-chip>
                }
            </mat-chip-listbox>
        } @else {
            <ng-container [ngTemplateOutlet]="noContent" />
        }
    </div>

    <div>
        <div class="title">Interventions</div>

        @if (interventions?.length) {
            <mat-chip-listbox>
                @for (intervention of interventions; track intervention.id) {
                    <mat-chip
                        [disabled]="control.disabled"
                        (click)="onChipInput(intervention.name)"
                    >
                        {{ intervention.name }}
                    </mat-chip>
                }
            </mat-chip-listbox>
        } @else {
            <ng-container [ngTemplateOutlet]="noContent" />
        }
    </div>

    <ng-template #noContent>
        <p class="no-content-message">&lt; Nothing to show here yet &gt;</p>
    </ng-template>
</div>
