:host {
    display: flex;
    gap: 20px;

    .input {
        flex: 1;
        align-self: flex-start;

        .error-message {
            margin: 0;
        }
    }

    .keyboards {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 500px;
        overflow: auto;

        .title {
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .no-content-message {
            color: white;
            font-size: 14px;
            font-style: italic;
        }
    }
}
