@let modelExpressions = this.modelExpressions();
@let adjointModelExpressions = this.adjointModelExpressions();

<p class="title">Model info</p>

@for (
    group of modelExpressions.concat(adjointModelExpressions);
    track group.name
) {
    <div class="group">
        <p class="title">{{ group.name }}</p>

        <div class="body">
            @for (expression of group.expressions; track expression) {
                <app-equation-display
                    class="equation"
                    [equation]="expression"
                />
            }
        </div>
    </div>
} @empty {
    <p class="title">&lt;No data&gt;</p>
}
