@let modelExpressions = this.modelExpressions();
@let hamiltonianExpression = this.hamiltonianExpression();
@let adjointModelExpressions = this.adjointModelExpressions();

<p class="title">Model info</p>

@for (
    group of modelExpressions
        .concat(hamiltonianExpression)
        .concat(adjointModelExpressions);
    track group.name
) {
    @if (group.expressions.length) {
        <div class="group">
            <p class="title">{{ group.name }}</p>

            <div class="body">
                @for (expression of group.expressions; track expression) {
                    <app-equation-display
                        class="equation"
                        [equation]="expression"
                    />
                }
            </div>
        </div>
    }
} @empty {
    <p class="title">&lt;No data&gt;</p>
}
