<mat-form-field subscriptSizing="dynamic">
    <mat-select [formControl]="control">
        <mat-option
            *ngFor="let workspace of workspacesService.names"
            [value]="workspace"
        >
            {{ workspace }}
        </mat-option>
    </mat-select>
</mat-form-field>

<button mat-mini-fab color="primary" (click)="add()">
    <mat-icon>add_box</mat-icon>
</button>

<button
    mat-mini-fab
    color="primary"
    [disabled]="workspacesService.names.length === 1"
    (click)="remove()"
>
    <mat-icon>close</mat-icon>
</button>
