@let currentWorkspaceName = this.currentWorkspaceName();
@let workspacesNames = this.workspacesNames();
@let workspacesCount = this.workspacesCount();

<mat-form-field subscriptSizing="dynamic">
    <mat-select [value]="currentWorkspaceName" (selectionChange)="set($event)">
        @for (workspace of workspacesNames; track workspace) {
            <mat-option [value]="workspace">
                {{ workspace }}
            </mat-option>
        }
    </mat-select>
</mat-form-field>

<button mat-mini-fab color="primary" (click)="add()">
    <mat-icon>add_box</mat-icon>
</button>

<button
    mat-mini-fab
    color="primary"
    [disabled]="workspacesCount === 1"
    (click)="remove()"
>
    <mat-icon>close</mat-icon>
</button>
