:host {
    display: flex;
    flex-direction: column;

    .header,
    .footer {
        display: flex;
        align-items: center;
        padding: 20px;
        border-width: 0;
        border-style: solid;
    }

    .header {
        justify-content: space-between;
        border-bottom-width: 1px;

        .title {
            font: var(--mat-sys-title-large);
            margin: 0;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        .row {
            display: flex;
            gap: 20px;

            .input {
                flex: 1;
            }
        }

        .equation-input {
            overflow: auto;
        }
    }

    .footer {
        justify-content: flex-end;
        border-top-width: 1px;

        .button:not(:last-child) {
            margin-right: 10px;
        }
    }
}
