@let compartmentsRowScheme = this.compartmentsRowScheme();
@let constantsRowScheme = this.constantsRowScheme();
@let interventionsRowScheme = this.interventionsRowScheme();

<div class="header">
    <p class="title">Definitions Table</p>

    <button mat-mini-fab color="primary" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="body" [formGroup]="control">
    <div class="section compartments">
        <div class="title">Compartments</div>

        <app-datatable
            formControlName="compartments"
            [rowScheme]="compartmentsRowScheme"
        />
    </div>

    <div class="section constants">
        <div class="title">Constants</div>

        <app-datatable
            formControlName="constants"
            [rowScheme]="constantsRowScheme"
        />
    </div>

    <div class="section interventions">
        <div class="title">Interventions</div>

        <app-datatable
            formControlName="interventions"
            [rowScheme]="interventionsRowScheme"
        />
    </div>
</div>

<div class="footer">
    <button mat-raised-button class="button" color="accent" (click)="onClose()">
        Cancel
    </button>

    <button
        mat-raised-button
        class="button"
        color="primary"
        [disabled]="control.invalid || control.pristine"
        (click)="onSave()"
    >
        Process
    </button>
</div>
