:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .row {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .input {
            flex: 1;
        }
    }

    .datatable-input {
        width: 100%;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                color: white;
                font-size: 18px;
                font-weight: bold;
            }
        }

        .datatable {
            max-width: 100%;
        }
    }
}
