:host {
    display: block;
    overflow: auto;

    .table {
        width: 100%;
    }

    .index-column {
        min-width: 40px;
    }

    .data-column {
        min-width: 244px;
        text-align: center;
    }

    .placeholder-column {
        width: 100%;
    }

    .actions-column {
        min-width: 128px;
        text-align: center;
    }

    .data-row:not(.is-editing) {
        .actions-column .buttons-container {
            opacity: 0;
        }

        &:hover {
            .actions-column .buttons-container {
                opacity: 1;
            }
        }
    }

    .no-data-cell {
        text-align: center;
        color: white;
        padding: 10px;
    }
}
