<table class="table" mat-table [dataSource]="rowsData">
    <ng-container
        *ngFor="let columnScheme of columnsSchemes"
        [matColumnDef]="columnScheme.id"
    >
        <th mat-header-cell class="data-column" *matHeaderCellDef>
            {{ columnScheme.name }}
        </th>

        <td mat-cell class="data-column" *matCellDef="let rowData">
            <ng-template #cellDisplay>
                {{
                    (columnScheme.inputType === "number"
                        ? (rowData[columnScheme.id] | number)
                        : rowData[columnScheme.id]) ?? "N/A"
                }}
            </ng-template>

            <ng-template #cellEditing [formGroup]="rowFormGroup">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Value</mat-label>

                    <ng-container [ngSwitch]="columnScheme.inputType">
                        <mat-select
                            *ngSwitchCase="'select'"
                            [formControlName]="columnScheme.id"
                        >
                            <mat-option
                                *ngFor="
                                    let option of getColumnAvailableOptions(
                                        columnScheme.id
                                    )
                                "
                                [value]="option"
                            >
                                {{ option }}
                            </mat-option>
                        </mat-select>

                        <input
                            *ngSwitchDefault
                            matInput
                            [formControlName]="columnScheme.id"
                            [type]="columnScheme.inputType"
                        />
                    </ng-container>

                    <mat-error
                        *ngIf="getFormControlErrors(columnScheme.id) as errors"
                    >
                        {{ errors[0] | titlecase }}
                    </mat-error>
                </mat-form-field>
            </ng-template>

            <ng-container
                *ngIf="
                    (columnScheme.editable || isAddingRow) && rowData.isEditing;
                    then cellEditing;
                    else cellDisplay
                "
            ></ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="index">
        <th mat-header-cell class="index-column" *matHeaderCellDef>#</th>

        <td
            mat-cell
            class="index-column"
            *matCellDef="let rowData; index as index"
        >
            {{ index }}
        </td>
    </ng-container>

    <ng-container matColumnDef="placeholder">
        <th mat-header-cell class="placeholder-column" *matHeaderCellDef></th>

        <td mat-cell class="placeholder-column" *matCellDef="let rowData"></td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell class="actions-column" *matHeaderCellDef>
            <button
                mat-mini-fab
                class="button"
                [style.display]="isAddRowVisible ? '' : 'none'"
                [disabled]="isAddRowDisabled"
                (click)="onRowAdd()"
            >
                <mat-icon>add</mat-icon>
            </button>
        </th>

        <td
            mat-cell
            class="actions-column"
            *matCellDef="let rowData; index as index"
        >
            <ng-template #cellDisplay>
                <button
                    mat-icon-button
                    *ngIf="isRowEditingVisible"
                    [disabled]="isRowEditingDisabled"
                    (click)="onRowDataEdit(rowData)"
                >
                    <mat-icon>edit</mat-icon>
                </button>

                <button
                    mat-icon-button
                    [disabled]="isRowDeletingDisabled"
                    (click)="onRowDataDelete(index)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </ng-template>

            <ng-template #cellEditing>
                <button
                    mat-icon-button
                    [disabled]="isRowSavingDisabled"
                    (click)="onRowDataSave(rowData)"
                >
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-icon-button (click)="onRowDataCancel(rowData)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </ng-template>

            <div class="buttons-container">
                <ng-container
                    *ngIf="
                        rowData.isEditing;
                        then cellEditing;
                        else cellDisplay
                    "
                ></ng-container>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnIdsToDisplay"></tr>
    <tr
        mat-row
        class="data-row"
        [class.is-editing]="row.isEditing"
        *matRowDef="let row; columns: columnIdsToDisplay"
    ></tr>

    <tr *matNoDataRow>
        <td class="no-data-cell" [attr.colspan]="columnIdsToDisplay.length">
            No data
        </td>
    </tr>
</table>
