@use "@angular/material" as mat;

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    height: 100%;

    @include mat.theme(
        (
            typography: Roboto,
            density: 0,
        )
    );

    .theme-light {
        color-scheme: light;
    }

    .theme-dark {
        color-scheme: dark;
    }

    .theme-system {
        color-scheme: light dark;
    }

    .palette-red {
        @include mat.theme(
            (
                color: mat.$red-palette,
            )
        );
    }
    .palette-green {
        @include mat.theme(
            (
                color: mat.$green-palette,
            )
        );
    }
    .palette-blue {
        @include mat.theme(
            (
                color: mat.$blue-palette,
            )
        );
    }
    .palette-yellow {
        @include mat.theme(
            (
                color: mat.$yellow-palette,
            )
        );
    }
    .palette-cyan {
        @include mat.theme(
            (
                color: mat.$cyan-palette,
            )
        );
    }
    .palette-magenta {
        @include mat.theme(
            (
                color: mat.$magenta-palette,
            )
        );
    }
    .palette-orange {
        @include mat.theme(
            (
                color: mat.$orange-palette,
            )
        );
    }
    .palette-chartreuse {
        @include mat.theme(
            (
                color: mat.$chartreuse-palette,
            )
        );
    }
    .palette-spring-green {
        @include mat.theme(
            (
                color: mat.$spring-green-palette,
            )
        );
    }
    .palette-azure {
        @include mat.theme(
            (
                color: mat.$azure-palette,
            )
        );
    }
    .palette-violet {
        @include mat.theme(
            (
                color: mat.$violet-palette,
            )
        );
    }
    .palette-rose {
        @include mat.theme(
            (
                color: mat.$rose-palette,
            )
        );
    }

    body {
        height: 100%;
        margin: 0;
        background: var(--mat-sys-surface);
        color: var(--mat-sys-on-surface);
        font: var(--mat-sys-body-medium);
    }

    @include mat.dialog-overrides(
        (
            container-max-width: 100vw,
            container-min-width: 0,
        )
    );

    @include mat.tooltip-overrides(
        (
            container-color: var(--mat-sys-secondary-container),
            supporting-text-color: var(--mat-sys-on-secondary-container),
            supporting-text-size: var(--mat-sys-body-medium-size),
        )
    );

    .snackbar {
        white-space: pre;
    }

    as-split {
        --as-transition-duration: 300ms;
        --as-gutter-background-color: var(--mat-sys-on-surface);

        .as-split-gutter {
            &:hover {
                filter: brightness(
                    calc(1 - var(--mat-sys-hover-state-layer-opacity))
                );
            }

            &.as-dragged,
            &:active {
                filter: brightness(
                    calc(1 - var(--mat-sys-pressed-state-layer-opacity))
                );
            }
        }
    }
}
