:host {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #333;

    .control-buttons-wrapper,
    .results-buttons-wrapper {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .button:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .control-buttons-wrapper {
        top: 20px;
        right: 20px;
    }

    .results-buttons-wrapper {
        bottom: 20px;
        left: 20px;
    }
}
