:host {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    cursor: help;
    font: var(--mat-sys-label-medium);
    color: var(--mat-sys-on-surface);
}
