:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        display: flex;
        align-items: center;
        padding: 20px;
        border-width: 0;
        border-style: solid;
        border-color: #e0e0e0;
        justify-content: space-between;
        border-bottom-width: 1px;

        .title {
            font-size: 22px;
            font-weight: bold;
            margin: 0;
            color: white;
        }
    }

    .body {
        display: grid;
        height: calc(100% - 90px);
        overflow: auto;
        grid: repeat(2, calc(50% - 5px)) / auto-flow min-content;
        padding: 20px;
        gap: 10px;
    }
}
