<div class="header">
    <p class="title">Simulation Dashboard</p>

    <div class="header-controls">
        <mat-button-toggle-group
            *ngIf="isCurrentResultsOptimal"
            [formControl]="viewModeControl"
        >
            <mat-button-toggle value="non-optimized"
                ><mat-icon>show_chart</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="optimized">
                <mat-icon>trending_down</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field subscriptSizing="dynamic">
            <mat-select [formControl]="resultsControl">
                <mat-option
                    *ngFor="
                        let results of resultsStorageService.resultsNames$
                            | async
                    "
                    [value]="results"
                >
                    {{ results }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button
            mat-mini-fab
            class="button"
            color="primary"
            [disabled]="resultsStorageService.resultsNames.length === 1"
            (click)="removeCurrentResults()"
        >
            <mat-icon>delete</mat-icon>
        </button>

        <button
            mat-mini-fab
            class="close-button"
            color="primary"
            (click)="closeDialog()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div class="body">
    <plotly-plot
        *ngFor="let plotData of plotsData"
        [data]="plotData.data"
        [layout]="plotData.layout"
        [config]="plotsConfig"
        [style]="plotStyle"
        [useResizeHandler]="true"
    ></plotly-plot>
</div>
